@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Quicksand:400,700&subset=latin-ext");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 17px;
  font-family: "Lato", sans-serif;
  color: #1F2421;
}

.hide {
  display: none !important;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #E8EBEA;
  overflow-y: scroll;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar {
  width: 20%;
  height: 100vh;
  background-color: #1F2421;
  color: #E8EBEA;
  padding: 3em 0;
}

.devices-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input.menu-expand {
  position: absolute;
  top: 0;
  border: 0;
  width: 100%;
  height: 3em;
  margin: 0;
  z-index: 1;
  opacity: 0;
}

input.menu-expand:checked ~ .menu-header::after {
  background-image: url("../img/icons/icons8-plus-math-48.png");
}

input.menu-expand:checked ~ .menu-folder .menu-entry {
  display: none;
}

.folder-wrap {
  position: relative;
}

.menu-folder {
  position: relative;
}

.menu-header {
  padding: 0.6em 2em;
  font-weight: 700;
  font-size: 1.1rem;
  position: relative;
}

.menu-header::after {
  content: '';
  position: absolute;
  right: 2em;
  width: 1.5em;
  height: 1.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  background-image: url("../img/icons/icons8-subtract-48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.menu-entry {
  position: relative;
}

.menu-entry-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0.3em 2em;
}

.menu-entry-content img {
  margin-right: 0.3em;
}

.menu-entry-content.selected {
  background-color: #E8EBEA;
  color: #1F2421;
  font-weight: 700;
}

.no-icon {
  padding-left: 5.5em;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0 3em;
}

.input-header {
  padding-bottom: 1em;
  font-size: 2.5rem;
  font-family: "Quicksand", sans-serif;
}

.input-field {
  position: relative;
}

.input-field .input-icon {
  font-size: 1.5rem;
  width: 3.5em;
  height: 100%;
  position: absolute;
  right: 0;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-field .input-icon img {
  width: 1.7em;
  opacity: 0.65;
}

.input-field input {
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  border: 0;
  background: #fff;
  color: rgba(31, 36, 33, 0.6);
  display: block;
  padding: 0.7em 3.5em 0.7em 1.4em;
  border-radius: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.results-container.before-searching::after, .results-container.before-uploading::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
}

.results-container {
  background-color: #F2F4F3;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.results-container.before-searching::after {
  background: url("../img/icons/icons8-search-480.png") no-repeat center center;
}

.results-container.before-uploading::after {
  background: url("../img/icons/icons8-document-480.png") no-repeat center center;
}

.results-bar {
  width: 100%;
  font-size: 2.5rem;
  padding: 0.3em 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E8EBEA;
}

.results-bar.state-ok {
  background-color: #49A078;
}

.results-bar.state-warning {
  background-color: #F4AC45;
}

.results-bar.state-danger {
  background-color: #C20114;
}

.results-header {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 1.2em;
  font-weight: 700;
}

.results-items {
  margin-top: 1.5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.results-item {
  height: 20em;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.result-item-header {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  padding: 1em 0;
}

.result-item-subheader {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 1.1rem;
  font-style: italic;
  margin: -0.9em 0 1em;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}

.stat.stat-ok {
  color: #49A078;
}

.stat.stat-warning {
  color: #F4AC45;
}

.stat.stat-danger {
  color: #C20114;
}

.stat-icon {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.stat-desc {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.stat-val {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.results-buttons {
  padding-top: 1.7em;
}

.results-buttons button {
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  padding: 1em 2em;
  cursor: pointer;
}

.results-buttons button:not(:first-child) {
  margin-left: 1em;
}

.button-blacklist {
  background-color: #1F2421;
  color: #fff;
}

.button-whitelist {
  background-color: #fff;
  color: #1F2421;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
}

.modal-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal-content {
  width: 40%;
  max-height: 60vh;
  overflow: scroll;
  background: #F2F4F3;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-header {
  padding: 0.8em 0;
  background: #49A078;
  font-size: 1.2rem;
  text-align: center;
  color: #E8EBEA;
  background-color: #1F2421;
}

.modal-header.stat-ok {
  background-color: #49A078;
}

.modal-header.stat-warning {
  background-color: #F4AC45;
}

.modal-header.stat-danger {
  background-color: #C20114;
}

.modal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 700;
  padding: 1em 0;
}

.modal-list li {
  padding: 0.5em 0 0.5em 3em;
  width: 50%;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(45%, -45%);
          transform: translate(45%, -45%);
  cursor: pointer;
}
/*# sourceMappingURL=home.css.map */