{% load static %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Black or white</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% block styles %}

    {% endblock %}
</head>
<body>
    <div class="container">

        <div class="main">
            <form action="">
                {% csrf_token %}
                <div class="step-content">
 42                                 <div class="input-group normal-field">
 43                                     {#                                    <input id="email" type="email" placeholder=" " required>#}
 44                                     {{ form.username}}
 45                                     <label for="email">E-mail</label>
 46                                     <div class="field-errors">{{ form.username.errors }}</div>
 47                                 </div>
 48                                 <div class="input-group normal-field">
 49                                     {#                                    <input id="password" type="password" placeholder=" " required>#}
 50                                     {{ form.password }}
 51                                     <label for="password">{% trans 'Hasło' %}</label>
 52                                     <div class="field-errors">{{ form.password.errors }}</div>
 53                                 </div>
 54                                 <div class="input-group action-button">
 55                                     <div class="field-errors">{{ form.non_field_errors }}</div>
 56                                     <input type="submit" value="Zaloguj >">

            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    {% block javascript %}
    {% endblock %}

</body>
</html>