@import "modules/variables";

@import "partials/reset";

html {
    font-size: 17px;
    font-family: $font-primary;
    color: $font-color;
}

.hide {
    display: none !important;
}

.container {
    display: flex;
}

.main {
    flex-grow: 1;
    background-color: $main-color;
    overflow-y: scroll;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
