@import "base";

@import "partials/sidebar";
@import "partials/search";
@import "partials/results";
@import "partials/modal";

.input-line {
    align-items: flex-end;
}

.delimiter {
    flex-basis: 20%;

    input {
        padding: 0.7em 1.4em 0.7em;
    }
}

.list {
    margin-left: 1em;

    select {
        display: block;
        border: none;
        border-radius: 2em;
        padding: 0.65em;
        font-size: 1.5rem;
    }
}

.submit {
    margin-left: auto;

    input {
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
        border-radius: 1em;
        background-color: $state-ok;
        color: $font-light-color;
        cursor: pointer;
    }
}

.domain-table {
    margin-top: 2em;

    .results-buttons {
        padding: 0;
    }

    th {
        background-color: $state-ok;
        color: $font-light-color;
    }

    tr:nth-child(even) {
        background-color: darken($results-color, 10%);
    }

    &, th, td {
        border: 0.1em solid rgba($font-color, 0.4);
    }

    button {
        padding: 0.5em 1em;
    }

    td, th {
        padding: 0.5em;
    }
}