// fonts

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Quicksand:400,700&subset=latin-ext');

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Quicksand', sans-serif;

// colors

$state-ok: #49A078;
$state-warning: #F4AC45;
$state-danger: #C20114;

$sidebar-color: #1F2421;
$main-color: #E8EBEA;
$results-color: #F2F4F3;

$font-color: #1F2421;
$font-light-color: #E8EBEA;

$white: #fff;