.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
}

.modal-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.modal-content {
    width: 40%;
    max-height: 60vh;
    background: $results-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 75vh;
    display: flex;
    flex-direction: column;
}

.modal-header {
    padding: 0.8em 0;
    background: $state-ok;
    font-size: 1.2rem;
    text-align: center;
    color: $font-light-color;

    background-color: $sidebar-color;

    &.stat-ok {
        background-color: $state-ok;
    }
    
    &.stat-warning {
        background-color: $state-warning;        
    }
    
    &.stat-danger {
        background-color: $state-danger;
    }
}

.modal-list {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    padding: 1em 0;
    overflow-y: scroll;

    li {
        padding: 0.5em 0 0.5em 3em;
        width: 50%;
    }
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(45%, -45%);
    cursor: pointer;
}