%before-placeholder {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

.results-container {
    background-color: $results-color;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &.before-searching {
        &::after {
            @extend %before-placeholder;
            background: url("../img/icons/icons8-search-480.png") no-repeat center center;
        }
    }
    
    &.before-uploading {
        &::after {
            @extend %before-placeholder;
            background: url("../img/icons/icons8-document-480.png") no-repeat center center;
        }    
    }
}

.results-bar {
    width: 100%;
    font-size: 2.5rem;
    padding: 0.3em 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-light-color;
    
    &.state-ok {
        background-color: $state-ok;
    }
    
    &.state-warning {
        background-color: $state-warning;        
    }
    
    &.state-danger {
        background-color: $state-danger;
    }

}

.results-header {
    font-family: $font-secondary;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 1.2em;
    font-weight: 700;
}

.results-items {
    margin-top: 1.5em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.results-item {
    // background-color: $white;
    flex-basis: 40%;
}

.result-item-header {
    font-family: $font-secondary;
    text-align: center;
    font-size: 1.5rem;
    padding: 1em 0;
}

.result-item-subheader {
    font-family: $font-secondary;
    text-align: center;
    font-size: 1.1rem;
    font-style: italic;
    margin: -0.9em 0 1em;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    
    &.stat-ok {
        color: $state-ok;
    }
    
    &.stat-warning {
        color: $state-warning;
    }
    
    &.stat-danger {
        color: $state-danger;
    }
}

.stat-icon {
    flex-basis: 15%;
}

.stat-desc {
    flex-basis: 45%;
    
}

.stat-val {
    flex-basis: 25%;
}

.results-buttons {
    padding-top: 1.7em;

    button {
        border: 0;
        font-family: inherit;
        font-size: 1rem;
        padding: 1em 2em;
        cursor: pointer;

        &:not(:first-child) {
            margin-left: 1em;
        }
    }
}

.button-blacklist {
    background-color: $font-color;
    color: $white;
}

.button-whitelist {
    background-color: $white;
    color: $font-color;
}

.whois {
    padding-left: 5em;
    line-height: 1.2;
}