.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2em 0 3em;
}

.input-header {
    padding-bottom: 1em;
    font-size: 2.5rem;
    font-family: $font-secondary;
}

.input-line {
    display: flex;
    align-items: center;
}

.input-field {
    position: relative;

    .field-label {
        display: inline-block;
        font-weight: 700;
        padding: 0.9em 0.3em 0.4em 1.5em;
    }
    
    .field-help {
        display: inline-block;
        color: rgba($font-color, 0.6);
    }
    
    .input-icon {
        font-size: 1.5rem;
        width: 3.5em;
        height: 100%;
        position: absolute;
        right: 0;
        background: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;

        img {
            width: 1.7em;
            opacity: 0.65;
        }
    }

    input {
        font-size: 1.5rem;
        height: 100%;
        width: 100%;
        border: 0;
        background: $white;
        color: rgba($font-color, 0.6);
        display: block;
        padding: 0.7em 3.5em 0.7em 1.4em;
        border-radius: 2em;
        box-sizing: border-box;
    }
}

