.sidebar {
    flex-basis: 20%;
    flex-shrink: 0;
    height: 100vh;
    background-color: $sidebar-color;
    color: $font-light-color;
    padding: 3em 0;
}

.devices-container {
    display: flex;
    flex-direction: column;
}

input.menu-expand {
    position: absolute;
    top: 0;
    border: 0;
    width: 100%;
    height: 3em;
    margin: 0;
    z-index: 1;
    opacity: 0;
}

input.menu-expand:checked ~ .menu-header::after {
    background-image: url("../img/icons/icons8-plus-math-48.png");
}

input.menu-expand:checked ~ .menu-folder .menu-entry {
    display: none;
}

.folder-wrap {
    position: relative;
}

.menu-folder {
    position: relative;
}

.menu-header {
    padding: 0.6em 2em;
    font-weight: 700;
    font-size: 1.1rem;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: 2em;
        width: 1.5em;
        height: 1.5em;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        background-image: url("../img/icons/icons8-subtract-48.png");
        background-repeat: no-repeat;
        background-position: center center;        
        background-size: 100%;
    }
}

.menu-entry {
    position: relative;
}

.menu-entry-content {
    
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.3em 2em;
    
    img {
        margin-right: 0.3em;
    }
    
    &.selected {
        background-color: $font-light-color;
        color: $sidebar-color;
        font-weight: 700;
    }
}

.no-icon {
    padding-left: 5.5em;
}