{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Black or white</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% block styles %}

    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="folder-wrap">
                <input type="checkbox" class="menu-expand">
                <div class="menu-header">Menu</div>
                <div class="menu-folder">
                    <div class="menu-entry menu-entry-content">
                        <img src="{% static 'img/icons/icons8-plus-48.png' %}">
                        <div class="device-description">Add single domain</div> 
                    </div>
                    <div class="menu-entry menu-entry-content">
                        <img src="{% static 'img/icons/icons8-list-view-48.png' %}">
                        <a href="{% url "list_upload" %}" >
                            <div class="device-description">Import list of domains</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="folder-wrap">
                <input type="checkbox" class="menu-expand">
                <div class="menu-header">Devices</div>
                <div class="menu-folder">
                    {% for device in devices %}
                        <div class="menu-entry">
                            <input type="checkbox" class="menu-expand">
                            <div class="menu-header menu-entry-content">
                                <img src="{% static 'img/icons/icons8-server-48.png' %}">
                                <div class="device-description">{{ device.name }}</div>  
                            </div>
                            <div class="menu-folder">
                                {% for list in device.list_set.all %}
                                    <div class="menu-entry menu-entry-content no-icon">{{ list }}</div>
                                {% endfor %}

{#                                <div class="menu-entry menu-entry-content no-icon">List 2</div>#}
{#                                <div class="menu-entry menu-entry-content no-icon">List 3</div>#}
                                <div class="menu-entry menu-entry-content no-icon">New list...</div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="menu-entry">
                        <div class="menu-entry-content">
                            <img src="{% static 'img/icons/icons8-server-48.png' %}">
                            <div class="device-description">New device...</div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
        {% block content %}

        {% endblock %}
        <a href="https://icons8.com">Icon pack by Icons8</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    {% block javascript %}
    {% endblock %}

</body>
</html>