<form action="{% if form.instance.pk %}{% url 'device_update' %}{% else %}{% url 'device_create' %}{% endif %}" method="post">
    {{ form.name.errors }}
    {{ form.name.label }} {{ form.name }}
    <button>Submit</button>
</form>