{% extends 'base.html' %}
{% load static %}



{% block content %}



    <div class="input-container">
        <div class="input-header">Wprowadź domenę i sprawdź jej wiarygoność</div>
        <form action="#">
            <div class="input-field">
                <button class="input-icon">
                    <img src="{% static 'img/icons/icons8-search-48.png' %}">
                </button>
                <input type="text">
            </div>
        </form>
    </div>
    <div class="results-container">
        <div class="results-bar state-ok">OK</div>
        <!-- <div class="results-bar state-warning">Potencjalnie niebezpieczna</div> -->
        <!-- <div class="results-bar state-danger">Niebezpieczna</div> -->

        <div class="results-header">Wyniki wyszukiwania dla domeny http://lalproject.pl</div>
        <div class="results-items">
            <div class="results-item">
                <div class="result-item-header">Wyniki z silników antywirusowych</div>
                <div class="result-item-subheader">(kliknij aby zobaczyć szczegóły)</div>
                <div class="stats">
                    <div class="stat stat-ok" onclick="openModal(this)">
                        <div class="stat-icon"><img src="{% static 'img/icons/icons8-happy-48.png' %}"></div>
                        <div class="stat-desc">Bezpieczne</div>
                        <div class="stat-val">30 (60%)</div>
                    </div>
                    <div class="modal">
                        <div class="modal-wrapper">
                            <div class="modal-content">
                                <div class="modal-header stat-ok">
                                    Witryny uznające domenę http://lalproject.pl za bezpieczną.
                                </div>
                                <ul class="modal-list">
                                    <li>ADMINUSLabs</li>
                                    <li>AegisLab WebGuard</li>
                                    <li>AlienVault</li>
                                    <li>Antiy-AVL</li>
                                    <li>Avira</li>
                                    <li>Baidu-International</li>
                                    <li>BitDefender</li>
                                    <li>Blueliv</li>
                                </ul>
                                <div class="modal-close" onclick="closeModal(this)"><img
                                        src="{% static 'img/icons/icons8-cancel-48.png' %}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="stat stat-warning" onclick="openModal(this)">
                        <div class="stat-icon"><img src="{% static 'img/icons/icons8-boring-48.png' %}"></div>
                        <div class="stat-desc">Podejrzane</div>
                        <div class="stat-val">13 (26%)</div>
                    </div>
                    <div class="modal">
                        <div class="modal-wrapper">
                            <div class="modal-content">
                                <div class="modal-header stat-warning">
                                    Witryny uznające domenę http://lalproject.pl za podejrzaną.
                                </div>
                                <ul class="modal-list">
                                    <li>ADMINUSLabs</li>
                                    <li>AegisLab WebGuard</li>
                                    <li>AlienVault</li>
                                    <li>Antiy-AVL</li>
                                    <li>Avira</li>
                                    <li>Baidu-International</li>
                                    <li>BitDefender</li>
                                    <li>Blueliv</li>
                                </ul>
                                <div class="modal-close" onclick="closeModal(this)"><img
                                        src="{% static 'img/icons/icons8-cancel-48.png' %}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="stat stat-danger" onclick="openModal(this)">
                        <div class="stat-icon"><img src="{% static 'img/icons/icons8-sad-48.png' %}"></div>
                        <div class="stat-desc">Niebezpieczne</div>
                        <div class="stat-val">5 (10%)</div>
                    </div>
                    <div class="modal">
                        <div class="modal-wrapper">
                            <div class="modal-content">
                                <div class="modal-header stat-danger">
                                    Witryny uznające domenę http://lalproject.pl za niebezpieczną.
                                </div>
                                <ul class="modal-list">
                                    <li>ADMINUSLabs</li>
                                    <li>AegisLab WebGuard</li>
                                    <li>AlienVault</li>
                                    <li>Antiy-AVL</li>
                                    <li>Avira</li>
                                    <li>Baidu-International</li>
                                    <li>BitDefender</li>
                                    <li>Blueliv</li>
                                </ul>
                                <div class="modal-close" onclick="closeModal(this)"><img
                                        src="{% static 'img/icons/icons8-cancel-48.pn' %}g"></div>
                            </div>
                        </div>
                    </div>
                    <div class="stat" onclick="openModal(this)">
                        <div class="stat-icon"><img src="{% static 'img/icons/icons8-puzzled-48.png' %}"></div>
                        <div class="stat-desc">Niezbadane</div>
                        <div class="stat-val">2 (4%)</div>
                    </div>
                    <div class="modal">
                        <div class="modal-wrapper">
                            <div class="modal-content">
                                <div class="modal-header">
                                    Witryny które nie zbadały domeny http://lalproject.pl.
                                </div>
                                <ul class="modal-list">
                                    <li>ADMINUSLabs</li>
                                    <li>AegisLab WebGuard</li>
                                    <li>AlienVault</li>
                                    <li>Antiy-AVL</li>
                                    <li>Avira</li>
                                    <li>Baidu-International</li>
                                    <li>BitDefender</li>
                                    <li>Blueliv</li>
                                </ul>
                                <div class="modal-close" onclick="closeModal(this)"><img
                                        src="{% static 'img/icons/icons8-cancel-48.png' %}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="results-item">
                <div class="result-item-header">Wyniki zapytania whois</div>
            </div>
            <div class="results-item">
                <div class="result-item-header">Wyniki jakiegoś tam czegoś</div>
            </div>
        </div>
        <div class="results-buttons">
            <button class="button-blacklist">Dodaj do czarnej listy</button>
            <button class="button-whitelist">Dodaj do białej listy</button>
        </div>
    </div>
    <div class="results-container hide before-searching">
    </div>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

{% block javascript %}
    <script src="js/modal.js"></script>
{% endblock %}
