{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/file_upload.css' %}">
{% endblock %}

{% block content %}

    {% comment %} <div>
    <form action="">
    {{ single_form }}
    </form>
    </div> {% endcomment %}


    <div class="input-container">
        <div class="input-header">Import txt file with list of domains</div>
        <div>{{ form.errors }}</div>
        <form method="post" enctype="multipart/form-data" id="file-upload">
            {% csrf_token %}
            <div class="input-field">
                <div class="field-label">{{ form.domain_list.label }}</div>
                <div class="field-help">{{ form.domain_list.help_text }}</div>
                {{ form.domain_list }}
            </div>
            <div class="input-line">
                <div class="input-field delimiter">
                    <div class="field-label">{{ form.delimiter.label }}</div>
                    {{ form.delimiter }}
                </div>
                <div class="input-field list">
                    <div class="field-label"> {{ form.list.label }}</div>
                    {{ form.list }}
                </div>
                <div class="input-field submit">
                    <input type="submit" value="Import">
                </div>
            </div>
        </form>
    </div>
    <div class="results-container before-uploading">
        <table class="domain-table hide">
            <tr>
                <th>Domain name</th>
                <th>Harmless</th>
                <th>Suspicious</th>
                <th>Malicious</th>
                <th>Undetected</th>
                <th>Action</th>
                <th>Action result</th>
            </tr>
        </table>
    </div>
{% endblock %}


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

{% block javascript %}
    <script>
        const icon_ok = `<img src="{% static 'img/icons/icons8-checkmark-48.png' %}">`;
        const icon_error = `<img src="{% static 'img/icons/icons8-delete-48.png' %}">`;
    </script>
    <script src="{% static 'js/add_single.js' %}"></script>
    <script src="{% static 'js/file_import.js' %}"></script>
{% endblock %}

