{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="input-container">
        <div class="input-header">Enter domain name and check its credibility</div>
        <div class="input-field">
            <button class="input-icon" id="search-button">
                <img src="{% static 'img/icons/icons8-search-48.png' %}">
            </button>
            <input type="text" id="search-input">
        </div>
    </div>
    <div class="results-container before-searching">
    </div>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

{% block javascript %}
    <script src="{% static 'js/modal.js' %}"></script>
    <script>
    const domain_data = {}

    $("#search-button").on("click", () => {

        const domain = $("#search-input").val();

        $.get({
            url: "/api/domain",
            data: {
                domain: domain
            },
            dataType: "json"
        })
        .done((response) => {
            console.log(response);
            
            /*
            const domain_data = {
                "name": response.domain,
                "page_rank": response.data.page_rank_decimal,
                "error": response.data.error
            }

            const template = `
                ${
                    domain_data.page_rank > 6 ?
                    `<div class="results-bar state-ok">OK, rating strony ${domain_data.page_rank}</div>` :
                    domain_data.page_rank > 4 ?
                    `<div class="results-bar state-warning">Potencjalnie niebezpieczna, rating strony ${domain_data.page_rank}</div>` :
                    `<div class="results-bar state-danger">Niebezpieczna, rating strony ${domain_data.page_rank}</div>`
                }

                <div class="results-header">Wyniki wyszukiwania dla domeny ${domain_data.name}</div>
                <div class="results-buttons">
                    <button class="button-blacklist">Dodaj do czarnej listy</button>
                    <button class="button-whitelist">Dodaj do białej listy</button>
                </div>
                `;
            */
            
            domain_data.name = response.domain;
            domain_data.summary = [response.data.summary.harmless, response.data.summary.suspicious, response.data.summary.malicious, response.data.summary.undetected];
            domain_data.sum = domain_data.summary.reduce((a, b) => a + b, 0);
            domain_data.avgs = domain_data.summary.map((a) => a = Math.round(100 * a / domain_data.sum))

            const template = `
                <div class="results-bar state-ok">OK</div>
                <!-- <div class="results-bar state-warning">Potentially dangerous</div> -->
                <!-- <div class="results-bar state-danger">Niebezpieczna</div> -->

                <div class="results-header">Results for ${domain_data.name}</div>
                <div class="results-items">
                    <div class="results-item">
                        <div class="result-item-header">Result from antivirus engines</div>
                        <div class="result-item-subheader">(Click to see details)</div>
                        <div class="stats">
                            <div class="stat stat-ok" onclick="openModal(this)">
                                <div class="stat-icon"><img src="{% static 'img/icons/icons8-happy-48.png' %}"></div>
                                <div class="stat-desc">Secure</div>
                                <div class="stat-val">${domain_data.summary[0]} (${domain_data.avgs[0]}%)</div>
                            </div>
                            <div class="modal">
                                <div class="modal-wrapper">
                                    <div class="modal-content">
                                        <div class="modal-header stat-ok">
                                            Sites recognizing domain ${domain_data.name} as secure.
                                        </div>
                                        <ul class="modal-list">
                                            ${Object.keys(response.data)
                                                    .filter((el) => { return response.data[el].category === "harmless" })
                                                    .map((el) => `<li>${el}</li>`)
                                                    .join(' ')
                                            }
                                        </ul>
                                        <div class="modal-close" onclick="closeModal(this)"><img src="{% static 'img/icons/icons8-cancel-48.png' %}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="stat stat-warning" onclick="openModal(this)">
                                <div class="stat-icon"><img src="{% static 'img/icons/icons8-boring-48.png' %}"></div>
                                <div class="stat-desc">Suspicious</div>
                                <div class="stat-val">${domain_data.summary[1]} (${domain_data.avgs[1]}%)</div>
                            </div>
                            <div class="modal">
                                <div class="modal-wrapper">
                                    <div class="modal-content">
                                        <div class="modal-header stat-warning">
                                            Sites recognizing domain ${domain_data.name} as suspicious.
                                        </div>
                                        <ul class="modal-list">
                                            ${Object.keys(response.data)
                                                .filter((el) => { return response.data[el].category === "suspicious" })
                                                .map((el) => `<li>${el}</li>`)
                                                .join(' ')
                                            }
                                        </ul>
                                        <div class="modal-close" onclick="closeModal(this)"><img src="{% static 'img/icons/icons8-cancel-48.png' %}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="stat stat-danger" onclick="openModal(this)">
                                <div class="stat-icon"><img src="{% static 'img/icons/icons8-sad-48.png' %}"></div>
                                <div class="stat-desc">Dangerous</div>
                                <div class="stat-val">${domain_data.summary[2]} (${domain_data.avgs[2]}%)</div>
                            </div>
                            <div class="modal">
                                <div class="modal-wrapper">
                                    <div class="modal-content">
                                        <div class="modal-header stat-danger">
                                            Sites recognizing domain ${domain_data.name} as dangerous.
                                        </div>
                                        <ul class="modal-list">
                                            ${Object.keys(response.data)
                                                .filter((el) => { return response.data[el].category === "malicious" })
                                                .map((el) => `<li>${el}</li>`)
                                                .join(' ')
                                            }
                                        </ul>
                                        <div class="modal-close" onclick="closeModal(this)"><img src="{% static 'img/icons/icons8-cancel-48.pn' %}g"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="stat" onclick="openModal(this)">
                                <div class="stat-icon"><img src="{% static 'img/icons/icons8-puzzled-48.png' %}"></div>
                                <div class="stat-desc">N</div>
                                <div class="stat-val">${domain_data.summary[3]} (${domain_data.avgs[3]}%)</div>
                            </div>
                            <div class="modal">
                                <div class="modal-wrapper">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            Sites which could not verify domain ${domain_data.name}.
                                        </div>
                                        <ul class="modal-list">
                                            ${Object.keys(response.data)
                                                .filter((el) => { return response.data[el].category === "undetected" })
                                                .map((el) => `<li>${el}</li>`)
                                                .join(' ')
                                            }
                                        </ul>
                                        <div class="modal-close" onclick="closeModal(this)"><img src="{% static 'img/icons/icons8-cancel-48.png' %}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="results-item">
                        <div class="result-item-header">WHOIS results</div>
                        <div class="whois">${response.data.whois.split("\n").join("<br>")}</div>
                    </div>
                </div>
                <div class="results-buttons">
                    <select class="list">
                        {% for list in lists %}
                            <option value={{ list.id }}>{{ list.name }}</option>
                        {% endfor %}
                    </select>
                    <button class="button-blacklist" onclick="addSingle(this)">Add to blacklist</button>
                    <button class="button-whitelist" onclick="addSingle(this)">Add to whitelist</button>
                </div>
                `;
                

                $(".results-container").removeClass("before-searching");
                $(".results-container").html(template);

            })
            .fail(() => {
                console.log("error");
            })

        });
    </script>
    <script src="{% static 'js/add_single.js' %}"></script>
{% endblock %}
